<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img src="assets/images/logo.png" width="150px" class="user-avatar" />
      <h1>Change Password</h1>
      <p [class]="notification.msgType" *ngIf="notification" style="color: firebrick">{{notification.msgBody}}</p>
      <form *ngIf="!submitted" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-content">
          <div class="form-group">
            <input type="password" formControlName="oldPassword" class="form-control input-underline input-lg" placeholder="Old Password">
          </div>

          <div class="form-group">
            <input type="password" formControlName="newPassword" class="form-control input-underline input-lg" placeholder="New Password">
          </div>

          <div class="form-group">
            <input type="password" formControlName="confirmNewPassword" class="form-control input-underline input-lg" placeholder="Confirm New Password">
          </div>
        </div>
        <button class="btn rounded-btn" type="submit" [disabled]="!changePasswordForm.valid"> Change </button>&nbsp;
        &nbsp;
        <a class="btn rounded-btn" [routerLink]="['/login']">Log In</a>
      </form>
    </div>
  </div>

  <div id="modalCont" (click)="open(content)"></div>
  <ng-template #content let-c="close" let-d="dismiss" id="content">
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{text}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('OK')">OK</button>
    </div>
  </ng-template>

</div>
