<div [@routerTransition]>
  <app-page-header [heading]="'Messages'" [icon]="'fa-desktop'"></app-page-header>

  <div class="jumbotron" style="background-color: #222">
    <hr style="border-top: 1px solid #999">
    <div class="page-header">
      <h1 style="font-size: xx-large; color: #999">New messages</h1>
      <hr style="border-top: 1px solid #999">
    </div>
    <p *ngIf="newMessages && newMessages.length < 1" style="color: #999">No new messages.</p>

    <div class="row" *ngIf="newMessages && newMessages.length > 0">
      <div class="col-sm-12" *ngFor="let msg of newMessages">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header" style="color: #999">{{msg.date.replace("T", "; ").slice(0, -7)}}</div>
          <div class="card-body" style="color: #999">
            <p class="card-text">Name: <br> {{msg.name}}</p>
            <p class="card-text">Email: <br> {{msg.email}}</p>
            <p class="card-text">Contact Reason: <br> {{msg.reason}}</p>
            <p class="card-text">Message: <br> {{msg.message}}</p>
            <button type="button" class="btn btn-danger" style="color:black" (click)="onDeleteMessage(msg.id)">
              Delete message
            </button>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="page-header">
      <hr style="border-top: 1px solid #999">
      <h1 style="font-size: xx-large; color:#999">Past messages</h1>
      <hr style="border-top: 1px solid #999">
    </div>

    <p *ngIf="pastMessages && pastMessages.length < 1" style="color: #999">No past messages.</p>

    <div class="row" *ngIf="pastMessages && pastMessages.length > 0">
      <div class="col-sm-12" *ngFor="let msg of pastMessages">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header" style="color: #999">{{msg.date.replace("T", "; ").slice(0, -7)}}</div>
          <div class="card-body" style="color: #999">
            <p class="card-text">Name: <br> {{msg.name}}</p>
            <p class="card-text">Email: <br> {{msg.email}}</p>
            <p class="card-text">Contact Reason: <br> {{msg.reason}}</p>
            <p class="card-text">Message: <br> {{msg.message}}</p>
            <button type="button" class="btn btn-danger" style="color:black" (click)="onDeleteMessage(msg.id)">
              Delete message
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="modalCont" (click)="open(content)"></div>
  <ng-template #content let-c="close" let-d="dismiss" id="content">
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{text}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('OK')">OK</button>
    </div>
  </ng-template>

  <div id="modalContDel" (click)="open2(contentDel)"></div>
  <ng-template #contentDel let-c="close" let-d="dismiss" id="contentDel">
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{text}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Y')">Yes</button>
      <button type="button" class="btn btn-secondary" (click)="c('N')">No</button>
    </div>
  </ng-template>
</div>
