<div [@routerTransition]>
  <app-page-header [heading]="'Notifications'" [icon]="'fa-desktop'"></app-page-header>

  <div class="jumbotron" style="background-color: #222">
    <hr style="border-top: 1px solid #999">
    <div class="page-header">
      <h1 style="font-size: xx-large; color: #999">New notifications</h1>
      <hr style="border-top: 1px solid #999">
    </div>
    <p *ngIf="newNotifications && newNotifications.length < 1" style="color: #999">No new notifications.</p>

    <div class="row" *ngIf="newNotifications && newNotifications.length > 0">
      <div class="col-sm-4" *ngFor="let notification of newNotifications">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header" style="color:#999;">{{notification.date.replace("T", "; ").slice(0, -7)}}</div>
          <div class="card-body" style="color: #999">
            <p class="card-text">{{notification.message}}</p>
            <p>
              <button type="button" class="btn btn-danger" style="color:black" (click)="onDeleteNotification(notification.id)">
                Delete notification
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="page-header">
      <hr style="border-top: 1px solid #999">
      <h1 style="font-size: xx-large; color:#999">Past notifications</h1>
      <hr style="border-top: 1px solid #999">
    </div>
    <p *ngIf="pastNotifications && pastNotifications.length < 1" style="color: #999">No past notifications.</p>

    <div class="row" *ngIf="pastNotifications && pastNotifications.length > 0">
      <div class="col-sm-4" *ngFor="let notification of pastNotifications">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header" style="color: #999">{{notification.date.replace("T", "; ").slice(0, -7)}}</div>
          <div class="card-body" style="color:#999;">
            <p class="card-text">{{notification.message}}</p>
            <p>
              <button type="button" class="btn btn-danger" style="color:black" (click)="onDeleteNotification(notification.id)">
                Delete notification
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="modalCont" (click)="open(content)"></div>
  <ng-template #content let-c="close" let-d="dismiss" id="content">
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{text}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('OK')">OK</button>
    </div>
  </ng-template>

</div>
