<div [@routerTransition]>
  <app-page-header *ngIf="parking" [heading]="parking.name" [icon]="'fa-desktop'"></app-page-header>

  <div *ngIf="parking">
    <agm-map [latitude]="parking.latitude" [longitude]="parking.longitude" [zoom]="15">
      <agm-marker [latitude]="parking.latitude" [longitude]="parking.longitude"></agm-marker>
    </agm-map>
  </div>

  <br>
  <div class="jumbotron" style="background-color: #222" *ngIf="parking">
    <div class="card mb-3" style="background-color: #343a40 !important; color: #999; border-color:white">
      <div class="card-header"
           style="background-color: #343a40 !important; color: #999; text-align: center;font-size: larger;font-weight: 900;">
        Information
      </div>
      <table class="card-body table table-bordered" style="margin-bottom: 0">
        <thead>
        <tr>
          <th>Location</th>
          <th style="width: 70%">{{parking.locationName}}</th>
        </tr>
        <tr>
          <th>Address</th>
          <th>{{parking.street}} {{parking.number}}, {{parking.city}}</th>
        </tr>
        <tr *ngIf="isOwner">
          <th>Total lots</th>
          <th>{{parking.totalLots}}</th>
        </tr>
        <tr>
          <th>Available lots</th>
          <th>{{parking.availableLots}}</th>
        </tr>
        </thead>
      </table>
    </div>
    <p style="text-align: center">
      <a class="btn btn-primary btn-lg" role="button" style="background-color: #999" (click)="showForm()">Make
        Reservation »</a>
    </p>

    <p style="text-align: center" *ngIf="parking && isOwner">
      <button type="button" class="btn btn-lg btn-primary" (click)="onEdit()"
              style="color:black; background-color: #999">Edit
      </button>
      &nbsp;
      <button type="button" class="btn btn-lg btn-primary" (click)="onAddLots()"
              style="color:black; background-color: #999">Add Lots
      </button>
      &nbsp;
      <button type="button" class="btn btn-lg btn-primary" (click)="onRemoveLots()"
              style="color:black; background-color: #999">Remove Lots
      </button>
      &nbsp;
      <button type="button" class="btn btn-lg btn-danger" (click)="onDeleteParking()" style="color:black">Delete
      </button>
    </p>

    <p style="text-align: center" *ngIf="parking && isAdmin">
      <button type="button" class="btn btn-lg btn-danger" (click)="onDeleteParking()" style="color:black">Delete
      </button>
    </p>

    <div *ngIf="showReservationForm">
      <div style="text-align: center">
        <div class="row" style="margin: auto">
          <div class="col-sm-3" style="margin-left: auto">
            <div class="card bg-dark">
              <div class="card-header" style="color: #999"><b>Start Date</b></div>
              <div class="card-body" style="text-align: center">
                <form class="form-inline mb-3" style="display: inline-block">
                  <div class="form-group">
                    <div class="input-group datepicker-input">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                             name="dp" [(ngModel)]="startDate" ngbDatepicker #d1="ngbDatepicker" [minDate]="minDate">
                      <button class="input-group-addon" (click)="d1.toggle()" type="button">
                        <span class="fa fa-calendar"></span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>


          <div class="col-sm-3" style="margin-right: auto">
            <div class="card bg-dark">
              <div class="card-header" style="color: #999"><b>Leave Date</b></div>
              <div class="card-body" style="text-align: center">
                <form class="form-inline mb-3" style="display: inline-block">
                  <div class="form-group">
                    <div class="input-group datepicker-input">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                             name="dp" [(ngModel)]="endDate" ngbDatepicker #d2="ngbDatepicker" [minDate]="minDate">
                      <button class="input-group-addon" (click)="d2.toggle()" type="button">
                        <span class="fa fa-calendar"></span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin: auto">
          <div class="col-sm-3" style="margin-left: auto; text-align: center">
            <div class="card bg-dark">
              <div class="card-header" style="color: #999"><b>Start Time</b></div>
              <div class="card-body">
                <ngb-timepicker [(ngModel)]="startTime" style="margin: auto;display: inline-flex"></ngb-timepicker>
              </div>
            </div>
          </div>


          <div class="col-sm-3" style="margin-right:auto; text-align: center">
            <div class="card bg-dark">
              <div class="card-header" style="color: #999"><b>Leave Time</b></div>
              <div class="card-body">
                <ngb-timepicker [(ngModel)]="endTime" style="margin: auto;display: inline-flex"></ngb-timepicker>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <p style="text-align: center" id="reservationForm">
        <a class="btn btn-primary btn-lg" role="button" style="background-color: #999" (click)="submitReservation()">Submit
          Reservation</a>
      </p>
      <br>
      <div style="text-align: center">
        <p [class]="notification.msgType" *ngIf="notification" style="color:#DC143C; align-self: center">{{notification.msgBody}}</p>
      </div>
    </div>


    <div class="row" *ngIf="addLotsTrigger" style="text-align: center; color: #999">
      <div class="col-lg-6" *ngIf="parking" style="margin: auto">
        <form [formGroup]="addLotsForm" (ngSubmit)="onSubmitAddLots()">
          <br>
          <div class="form-content" style="text-align: left">
            <div class="form-group">
              <fieldset class="form-group">
                <label>Number of lots</label>
                <input class="form-control" formControlName="numberOfAddedLots">
              </fieldset>
            </div>
          </div>
          <button type="submit" class="btn btn-secondary" style="background-color: #999; color:black"
                  [disabled]="!addLotsForm.valid">Add
          </button>
        </form>
      </div>
    </div>


    <div class="row" *ngIf="removeLotsTrigger" style="text-align: center; color: #999">
      <div class="col-lg-6" *ngIf="parking" style="margin: auto">
        <form [formGroup]="removeLotsForm" (ngSubmit)="onSubmitRemoveLots()">
          <br>
          <div class="form-content" style="text-align: left">
            <div class="form-group">
              <fieldset class="form-group">
                <label>Number of lots</label>
                <input class="form-control" formControlName="numberOfRemovedLots">
              </fieldset>
            </div>
          </div>
          <button type="submit" class="btn btn-secondary" style="background-color: #999; color:black"
                  [disabled]="!removeLotsForm.valid">Remove
          </button>
        </form>
      </div>
    </div>


    <div class="row" *ngIf="editTrigger" style="text-align: center; color: #999">
      <div class="col-lg-6" *ngIf="parking" style="margin: auto">

        <form [formGroup]="editParkingAreaForm" (ngSubmit)="onSubmitEditForm()">
          <br>
          <div class="form-content" style="text-align: left">
            <div class="form-group">
              <fieldset class="form-group">
                <label>Name</label>
                <input class="form-control" formControlName="name" placeholder="{{parking.name}}">
              </fieldset>
            </div>

            <div class="form-group">
              <fieldset class="form-group">
                <label>Location name</label>
                <input class="form-control" formControlName="locationName" placeholder="{{parking.locationName}}">
              </fieldset>
            </div>

            <div class="form-group">
              <fieldset class="form-group">
                <label>City</label>
                <input class="form-control" formControlName="city" placeholder="{{parking.city}}">
              </fieldset>
            </div>

            <div class="form-group">
              <fieldset class="form-group">
                <label>Street</label>
                <input class="form-control" formControlName="street" placeholder="{{parking.street}}">
              </fieldset>
            </div>

            <div class="form-group">
              <fieldset class="form-group">
                <label>Number</label>
                <input class="form-control" formControlName="number" placeholder="{{parking.number}}">
              </fieldset>
            </div>

            <div class="form-group">
              <fieldset class="form-group">
                <label>Latitude</label>
                <input class="form-control" formControlName="latitude" placeholder="{{parking.latitude}}">
              </fieldset>
            </div>

            <div class="form-group">
              <fieldset class="form-group">
                <label>Longitude</label>
                <input class="form-control" formControlName="longitude" placeholder="{{parking.longitude}}">
              </fieldset>
            </div>
          </div>
          <button type="submit" class="btn btn-secondary" style="background-color: #999; color:black">Submit</button>
        </form>
        <br>
        <div style="text-align: center">
          <p [class]="notification.msgType" *ngIf="notification" style="color:#DC143C; align-self: center">
            {{notification.msgBody}}</p>
        </div>
      </div>
    </div>

    <br>
    <br>
    <div class="page-header" *ngIf="parking && isOwner">
      <hr style="border-top: 1px solid #999">
      <h1 style="color:#999">Employees</h1>
      <hr style="border-top: 1px solid #999">
    </div>

    <div style="background-color: #222" *ngIf="parking && isOwner">

      <p *ngIf="parking && (!parking.employees || parking.employees.length < 1)" style="color:#999">No employees
        assigned.</p>

      <div class="card mb-3" *ngIf="parking && parking.employees && parking.employees.length > 0"
           style="background-color: #343a40 !important; color: #999;">

        <div class="card-header" style="background-color: #343a40 !important; color: #999; text-align: center">Assigned
          employees
        </div>
        <table class="card-body table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Username</th>
            <th></th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let employee of parking.employees">
            <th scope="row">{{employee.id}}</th>
            <td>{{employee.firstName}} {{employee.lastName}}</td>
            <td>{{employee.username}}</td>
            <td>
              <button [routerLink]="['/user-profile', employee.id]" class="btn btn-secondary"
                      style="color:#999; background-color: black">View
                Profile
              </button>
            </td>
            <td>
              <button class="btn btn-secondary" style="color:black; background-color: #dc3545"
                      (click)="removeEmployee(employee.id)">Remove from this parking area
              </button>
            </td>
          </tr>

          </tbody>
        </table>
      </div>

      <button type="button" class="btn btn-lg btn-primary" (click)="onAddEmployee()"
              style="color:black; background-color: #999">Add Employee
      </button>

      <div *ngIf="addEmployeeTrigger">
        <br>
        <br>
        <form [formGroup]="searchEmployeeForm" (ngSubmit)="onSearchEmployeeSubmit()">
          <div class="form-content">
            <div class="form-group">
              <fieldset class="form-group">
                <label style="color: #999">Term:</label>
                <input class="form-control" formControlName="term" placeholder="First name, last name or username..."
                       style="width: 35%">
              </fieldset>
            </div>
          </div>
          <button type="submit" class="btn btn-secondary" [disabled]="!searchEmployeeForm.valid" style="color:black">
            Search
          </button>
        </form>


        <div *ngIf="searchEmployeesResult">
          <br>
          <br>

          <div class="card mb-3" *ngIf="searchEmployeesResult.length > 0"
               style="background-color: #343a40 !important; color: #999;">
            <div class="card-header" style="text-align: center">Found employees</div>
            <table class="card-body table table-hover">
              <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Username</th>
                <th></th>
                <th></th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let employee of searchEmployeesResult">
                <th scope="row">{{employee.id}}</th>
                <td>{{employee.firstName}} {{employee.lastName}}</td>
                <td>{{employee.username}}</td>
                <td>
                  <button [routerLink]="['/user-profile', employee.id]" class="btn btn-secondary"
                          style="color:#999; background-color: black">
                    View Profile
                  </button>
                </td>
                <td>
                  <button class="btn btn-secondary" style="color:#999; background-color: black"
                          (click)="assignEmployee(employee.id)">Assign to
                    this parking area
                  </button>
                </td>
              </tr>

              </tbody>
            </table>
          </div>

          <p *ngIf="searchTrigger && searchEmployeesResult.length < 1" style="color:#999">No employees found by this
            name. Please try again.</p>

        </div>
      </div>
    </div>
  </div>


  <div id="modalCont" (click)="open(content)"></div>
  <ng-template #content let-c="close" let-d="dismiss" id="content">
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{text}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" *ngIf="closeButton" (click)="c('C')">Close</button>
      <button type="button" class="btn btn-secondary" *ngIf="okButton" (click)="c('OK')">OK</button>
    </div>
  </ng-template>

  <div id="modalContDel" (click)="open2(contentDel)"></div>
  <ng-template #contentDel let-c="close" let-d="dismiss" id="contentDel">
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{text}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Y')">Yes</button>
      <button type="button" class="btn btn-secondary" (click)="c('N')">No</button>
    </div>
  </ng-template>

</div>
