<div [@routerTransition]>
  <app-page-header [heading]="'Owner Requests'" [icon]="'fa-desktop'"></app-page-header>

  <div class="jumbotron" style="background-color: #222">
    <hr style="border-top: 1px solid #999">
    <div class="page-header">
      <h1 style="font-size: xx-large; color: #999">New requests</h1>
      <hr style="border-top: 1px solid #999">
    </div>
    <p *ngIf="newRequests && newRequests.length < 1" style="color: #999">No new requests.</p>

    <div class="row" *ngIf="newRequests && newRequests.length > 0">
      <div class="col-sm-4" *ngFor="let req of newRequests">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header" style="text-align: center; color:#999">Owner Request</div>
          <div class="card-body" style="color: #999" *ngIf="req.userRequest">
            <p class="card-text">{{req.date.replace("T", "; ").slice(0, -7)}}</p>
            <p class="card-text">Name: {{req.userRequest.firstName}} {{req.userRequest.lastName}}</p>
            <p class="card-text">Email: {{req.userRequest.email}}</p>
            <p class="card-text">Organisation: {{req.message}}</p>
            <p>
            <a class="card-text" *ngIf="req.userRequest" [routerLink]="['/user-profile', req.userRequest.id]">View profile</a>
            </p>
            <button type="button" class="btn btn-primary" style="color:black; background-color: #999" (click)="onApproveRequest(req.userRequest.id, req.message, req.id)">
              Approve request
            </button>
            <button type="button" class="btn btn-danger" style="color:black" (click)="onDeleteRequest(req.id)">
              Delete request
            </button>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="page-header">
      <hr style="border-top: 1px solid #999">
      <h1 style="font-size: xx-large; color:#999">Past requests</h1>
      <hr style="border-top: 1px solid #999">
    </div>

    <p *ngIf="pastRequests && pastRequests.length < 1" style="color: #999">No past requests.</p>

    <div class="row" *ngIf="pastRequests && pastRequests.length > 0">
      <div class="col-sm-4" *ngFor="let req of pastRequests">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header" style="text-align: center; color: #999">Owner Request</div>
          <div class="card-body" style="color: #999">
            <p class="card-text">{{req.date.replace("T", "; ").slice(0, -7)}}</p>
            <p class="card-text">Name: {{req.userRequest.firstName}} {{req.userRequest.lastName}}</p>
            <p class="card-text">Email: {{req.userRequest.email}}</p>
            <p class="card-text">Organisation: {{req.message}}</p>
            <p>
              <a class="card-text" [routerLink]="['/user-profile', req.userRequest.id]">View profile</a>
            </p>
            <button type="button" class="btn btn-primary" style="color:black; background-color: #999" (click)="onApproveRequest()">
              Approve request
            </button>
            <button type="button" class="btn btn-danger" style="color:black" (click)="onDeleteRequest(req.id)">
              Delete request
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="modalCont" (click)="open(content)"></div>
  <ng-template #content let-c="close" let-d="dismiss" id="content">
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{text}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('OK')">OK</button>
    </div>
  </ng-template>

  <div id="modalContDel" (click)="open2(contentDel)"></div>
  <ng-template #contentDel let-c="close" let-d="dismiss" id="contentDel">
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{text}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Y')">Yes</button>
      <button type="button" class="btn btn-secondary" (click)="c('N')">No</button>
    </div>
  </ng-template>
</div>
